.App {
  text-align: center;
}

.fondoHome {
  background-image: url("https://plus.unsplash.com/premium_photo-1661777692723-ba8dd05065d9?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMHRhYmxlfGVufDB8fDB8fHww");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  align-content: center;
  justify-content: center;
}

#homeMenu {
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
  background-color: rgb(35,62,62,0.9);
  border-radius: 50px;
}

#homeMenu h1 {
  color: white;
}

.gridspace {
  display: grid;
  grid-template-columns: 60% 40%;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.whiteSpace{
  grid-column: 1 2;
  display: grid;
  grid-template-rows: auto auto auto auto;
  align-content: space-around;
  justify-content: center;
  height: 100vh;
  background-color: rgb(248,242, 242);
}

.formulario{
  grid-column: 2 3;
  align-content: center;
  justify-content: center;
  background-color: rgba(35, 61, 62);
  height: 100vh;
}

input {
  border-radius: 30px;
  width:70%;
  height: 50px;
  padding: 20px;
  font-size: 26px;
  align-content: center;
  border: solid rgb(248,242, 242) 2px;
  background-color: rgba(35, 61, 62);
  color: rgb(248,242, 242);
  outline: none;
}

input::placeholder{
  color: rgb(248,242,242);
  font-size: 20px;
}

.FormGroup{
  padding-bottom: 20px;
}

#login-button {
  border-radius: 20px;
  background-color: rgb(248,242, 242);
  height: 50px;
  width: 30%;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  border: none;
}

.alerta{
  color: rgb(248,242, 242);
  padding: 10px
}

#imagenEnsalada {
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  max-width: 100%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#logo1 {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

h1 {
  text-transform: uppercase;
  color: rgba(35, 61, 62);
}

#subtitulo {
  text-transform: uppercase;
  color: rgb(158,106,88);
  font-size: 16px;
  font-weight: bolder;
  font-stretch: expanded;
  letter-spacing: 3px;
}

.logos-home{
  width: 70%;
}